*.Rapp
*.Rapp.history
*.Rhistory
00-run-inversion.sh
*.pdf
*.png
raw
*.sh.o*
figures
raw_output
runs.txt
id_list.txt
no.convergence.txt
logs
specdb.sqlite
.httr-oauth
old/

# run status indicators
all_ids.txt
finished.txt
failed.txt
